@use './configs' as *;


/* Reset básico para consistência entre navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definições para HTML e Body */
html {
  font-size: 16px;
  /* Base para usar REM */
  line-height: 1.5;
  /* Boa legibilidade */
  font-family: Arial, sans-serif;
  /* Fonte padrão */
  scroll-behavior: smooth;
  /* Scroll suave */
  /* scrollbar-custom */
  @include custom-scrollbar()
}

body {
  @each $property, $value in $antialiased {
    #{$property}: #{$value};
  }

  background-color: $background;
  /* Cor de fundo neutra */
  color: $foreground;
  /* Cor padrão de texto */
  min-height: 100vh;
  /* Garantir que o body ocupe a tela toda */
}

/* Links */
a {
  text-decoration: none;
  color: $foreground;
  /* Usa a cor do texto */
  transition: color 0.3s ease;
  font-size: $text-base;
  line-height: $leading-tight;
}

a:hover {
  color: $muted-foreground;
  /* Cor para hover */
}

/* Headings */
h1 {
  font-size: $text-6xl;
  line-height: $leading;
}

h2 {
  font-size: $text-5xl;
  line-height: $leading;
}

h3 {
  font-size: $text-4xl;
  line-height: $leading-8;
}

h4 {
  font-size: $text-3xl;
  line-height: $leading-7;
}

h5 {
  font-size: $text-2xl;
  line-height: $leading-6;
}

h6 {
  font-size: $text-xl;
  line-height: $leading-5;
}

/* Texts */
p {
  font-size: $text-base;
  color: $muted-foreground;
  font-weight: $font-normal;
  line-height: $leading-normal;
}

span {
  font-size: $text-sm;
  color: $muted-foreground;
  font-weight: $font-light;
  line-height: $leading-3;
}

/* Imagens */
img {
  max-width: 100%;
  /* Responsividade */
  height: auto;
  display: block;
}

/* Listas */
ul,
ol {
  list-style: none;
}

/* Botões */
button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
  /* Permite personalização */
}

button:focus {
  outline: none;
  /* Remove o contorno */
}

/* Inputs e Textareas */
input,
textarea {
  font-family: inherit;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  /* Restringe o redimensionamento no eixo vertical */
}