// Colors theme
 // Base
 $foreground: #333333;
 $background: #f5f5f5;
 
  // Primary
 $primary: #082f44;
 $primary-foreground:#f8f8f8;
 $primary-hover: #0d4f6d;
 // Secondary
 $secondary: #10afe7;
 $secondary-foreground:#f8f8f8;
 $secondary-hover:#048dc5;
 // Accent
 $accent: #093b9f;
 $accent-foreground: #f7f7f7;
 $accent-hover:#004ffc;
 // Muted
 $muted: #eee;
 $muted-foreground:#eee;
 $muted-hover:#ffff;
 // Danger
 $danger-color: #e81111;
 $danger-foreground:#fff;
 $danger-hover:#ff3333;
 // Warnnig
 $warning: #ecf724;
 $warning-foreground:#eee;
 $warning-hover:#f9ff56;
 // Success
 $success: #31b100;
 $success-foreground:#f8f8f8;
 $success-hover:#4bf005; 