@use '../common/variables' as *;
// Display Flex
@mixin flex($justify, $align, $direction, $gap, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
  gap: $gap;
}

// Display Flex Center
// Um atalho para centralizar absolutamente qualquer coisa
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Display Grid
@mixin grid($rows: none, $columns: none, $gap: 0, $justify: center, $align: center) {
  display: grid;
  grid-template-rows: $rows;
  grid-template-columns: $columns;
  gap: $gap;
  justify-items: $justify;
  align-items: $align;
}

// Centraliza itens dentro de um grid
@mixin grid-center {
  display: grid;
  place-items: center;
}

/* --------------------------------- */

// Mixins de breakpoints

@mixin breakpoint($size) {
  @if $size == small {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $size == medium {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $size == large {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $size == xlarge {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

/* ------------------------------------------ */

//Mixins de textos

@mixin text-ellipsis($lines: 1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

/* -------------------------------------------- */

// Mixins de cores

@mixin gradient($direction: to bottom, $color1: #000, $color2: #fff) {
  background: linear-gradient($direction, $color1, $color2);
}


/* scrollbar */
@mixin custom-scrollbar(
  $thumb-color: $primary, // Cor do "thumb" (parte arrastável)
  $thumb-hover-color: $primary-hover, // Cor do "thumb" ao passar o mouse sobre ele
  $track-color: $muted-foreground, // Cor da "track" (parte por onde o thumb se move)
  $thumb-width: 8px, // Largura do "thumb"
  $track-width: 8px // Largura da "track"
) {
  /* Estilos para a barra de rolagem */
  ::-webkit-scrollbar {
    width: $track-width;
    height: $track-width;
  }

  ::-webkit-scrollbar-track {
    background: $track-color;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $thumb-hover-color;
  }
}
