// Display Flex
@mixin flex($justify: center, $align: center, $direction: row, $gap: 1px, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
  gap: $gap;
}

// Display Grid
@mixin grid($rows: none, $columns: none, $gap: 0, $justify: center, $align: center) {
  display: grid;
  grid-template-rows: $rows;
  grid-template-columns: $columns;
  gap: $gap;
  justify-items: $justify;
  align-items: $align;
}

// Display Inline Block
@mixin inline-block {
  display: inline-block;
}

// Display Block
@mixin block {
  display: block;
}

// Display Hidden
@mixin hidden {
  display: none;
}

// Display Flex Center
// Um atalho para centralizar absolutamente qualquer coisa
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Display Grid Center
// Centraliza itens dentro de um grid
@mixin grid-center {
  display: grid;
  place-items: center;
}

// Display Inline Flex
@mixin inline-flex($justify: center, $align: center, $direction: row) {
  display: inline-flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// Display Table
@mixin table($borderCollapse: separate, $borderSpacing: 0) {
  display: table;
  border-collapse: $borderCollapse;
  border-spacing: $borderSpacing;
}
